<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.derysudrajat.appsbbi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_fix"
        android:label="@string/app_name"
        android:permission=""
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:noHistory="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity android:name=".Materi" />
        <activity
            android:name=".IsiMateri1"
            android:label="Listening Section"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MulaiQuizA"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".RiwayatScoreFragment"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".RiwayatScoreFragment2"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".RiwayatScoreFragment3"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".RiwayatQuizActivity"
            android:label="Riwayat Quiz"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".Quiz.QuizActivity" />
        <activity android:name=".SplashActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".Quiz.HasilQuiz" />
        <activity
            android:name=".IsiMateri2"
            android:label="Degree of Comparison"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".IsiMateri3"
            android:label="Noun and Pronoun"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".PembahasanActivity" />
        <activity android:name=".Pembahasan2Activity" />
        <activity android:name=".Pembahasan3Activity" />
        <activity android:name=".cobaHighScore" />
        <activity
            android:name=".quissimple1"
            android:label="Simple Quiz 1"
            android:parentActivityName=".IsiMateri1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IsiMateri1" />
        </activity>
        <activity
            android:name=".quissimple2"
            android:label="Simple Quiz 2"
            android:parentActivityName=".IsiMateri2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IsiMateri2" />
        </activity>
        <activity
            android:name=".quissimple3"
            android:label="Simple Quiz 3"
            android:parentActivityName=".IsiMateri3">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IsiMateri3" />
        </activity>
        <activity android:name=".Pembahasan4Activity"></activity>
    </application>

</manifest>