<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lusi.bbi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_fix"
        android:label="@string/app_name"
        android:permission=""
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.lusi.bbi.MainActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity android:name="com.lusi.bbi.Materi" />
        <activity
            android:name="com.lusi.bbi.IsiMateri1"
            android:label="Listening Section">
            <!--android:parentActivityName=".MainActivity"-->
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value=".MainActivity" />-->
        </activity>
        <activity
            android:name="com.lusi.bbi.MulaiQuizA"
            android:parentActivityName="com.lusi.bbi.MainActivity"
            android:label="Quiz BBI">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lusi.bbi.MainActivity" />
        </activity>
        <activity
            android:name="com.lusi.bbi.RiwayatScoreFragment"
            android:label="Rank Score Easy">
            <!--android:parentActivityName=".MainActivity"-->
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value=".MainActivity" />-->
        </activity>
        <activity
            android:name="com.lusi.bbi.RiwayatScoreFragment2"
            android:label="Rank Score Medium">
            <!--android:parentActivityName=".MainActivity"-->
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value=".MainActivity" />-->
        </activity>
        <activity
            android:name="com.lusi.bbi.RiwayatScoreFragment3"
            android:label="Rank Score Hard">
            <!--android:parentActivityName=".MainActivity"-->
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value=".MainActivity" />-->
        </activity>
        <activity android:name="com.lusi.bbi.Quiz.QuizActivity"
            android:label="Quiz"/>
        <activity
            android:name="com.lusi.bbi.SplashActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.lusi.bbi.LoginActivity" />
        <activity android:name="com.lusi.bbi.RegisterActivity" />
        <activity android:name="com.lusi.bbi.Quiz.HasilQuiz"
            android:label="Quiz Result"
            />
        <activity
            android:name="com.lusi.bbi.IsiMateri2"
            android:label="Degree of Comparison">
            <!--android:parentActivityName=".MainActivity"-->
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value=".MainActivity" />-->
        </activity>
        <activity
            android:name="com.lusi.bbi.IsiMateri3"
            android:label="Noun and Pronoun">
            <!--android:parentActivityName=".MainActivity"-->
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value=".MainActivity" />-->
        </activity>
        <activity android:name="com.lusi.bbi.PembahasanActivity"
            android:label="Explanation"/>
        <activity android:name="com.lusi.bbi.Pembahasan2Activity"
            android:label="Explanation Quiz Easy"/>
        <activity android:name="com.lusi.bbi.Pembahasan3Activity"
            android:label="Explanation Quiz Medium"/>
        <activity android:name="com.lusi.bbi.cobaHighScore" />
        <activity
            android:name="com.lusi.bbi.quissimple1"
            android:label="Simple Quiz 1"
            android:parentActivityName="com.lusi.bbi.IsiMateri1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lusi.bbi.IsiMateri1" />
        </activity>
        <activity
            android:name="com.lusi.bbi.quissimple2"
            android:label="Simple Quiz 2"
            android:parentActivityName="com.lusi.bbi.IsiMateri2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lusi.bbi.IsiMateri2" />
        </activity>
        <activity
            android:name="com.lusi.bbi.quissimple3"
            android:label="Simple Quiz 3"
            android:parentActivityName="com.lusi.bbi.IsiMateri3">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lusi.bbi.IsiMateri3" />
        </activity>
        <activity android:name="com.lusi.bbi.Pembahasan4Activity" />
        <activity android:name="com.lusi.bbi.Quiz.HasilQuizBaru"
            android:label="Explanation Quiz Hard"/>
    </application>

</manifest>